html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.navbar-custom {
  background-color: #566676;
  box-shadow: 0 2px 6px -2px rgba(0, 0, 0, .16), 0 2px 6px 0 rgba(0, 0, 0, .12);
  padding: 0 10px 0 0;
  position: fixed;
  left: 0;
  right: 0;
  height: 70px;
  z-index: 1001;
}

.left-side-menu {
  width: 240px;
  background: #fff;
  bottom: 0;
  padding: 20px 0;
  position: fixed;
  transition: all .1s ease-out;
  top: 70px;
  box-shadow: 0 2px 6px -2px rgba(0, 0, 0, .16), 0 2px 6px 0 rgba(0, 0, 0, .12);
}

#sidebar-menu > ul {
  list-style: none;
  padding: 0;
}

#sidebar-menu > ul > li > a {
  color: #6e768e;
  display: block;
  padding: 12px 20px;
  position: relative;
  transition: all .4s;
  font-family: Roboto, sans-serif;
  font-size: .95rem;
}

a {
  text-decoration: none;
}
.content-page {
  margin-left: 240px;
  overflow: hidden;
  padding: 0 15px 65px 15px;
  min-height: 80vh;
  margin-top: 70px;
}
.page-title-box .page-title {
  font-size: 1.25rem;
  margin: 0;
  line-height: 75px;
  color: #323a46;
}

#sidebar-menu .active {
  color: #00acc1;
}
